#head
{
    width:100%;
    height:25%;
}
#head img
{
    display: inline-block;
    float: left;
    padding-top: 20px;
    width:200px;
    height:160px;
    padding-left: 25px;
}
#head h1
{
    display: inline-block;
    color:blue;
    padding-left: 250px;
    vertical-align: middle;
    font-size: 80px;
}

#tile
{   
    display: inline-block;
    padding: 20px;
    width:60%;
    
}
#caption
{
    text-decoration: underline;
    text-decoration-style: wavy;
}
#display
{
    display: inline-block;
    float:right;
    text-align: left;
    width: 25%;
    color: blue;
    padding: 10px;
    margin-top: 25px;
    margin-left: 30px;
    
    background-size: contain;
    
}

#add , #cancel
{
    display: inline-block;
    color: white;
    height: 75px;
    width:200px;
    background-color:blue;
    float: right;
    text-align: center;
    text-emphasis: 40px;
    font-size: 20px;
    
}